@import url(/recources/constant.css);

body {
    background-color: var(--background);
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.title {
    min-height: 100px;
    border-bottom: 3px solid var(--background2);
}

#site-name {
    font-size: 20px;
    color: var(--text);
    padding-left: 20px;
    width: 100%;
    float: left;
    text-align: left
}

#site-indicator {
    color: var(--text);
    width: 100%;
    float: left;
    position: absolute;
    text-align: center
}

/* Add a black background color to the top navigation */
.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    background-color: var(--background);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: center;
    color: var(--text);
    text-align: center;
    padding: 0px 8%;
    text-decoration: none;
    font-size: 17px;
    display: inline;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 40px;
}

/* Change the color of links on hover */
.navbar a:hover {
    -webkit-box-shadow: 0px 0px 15px -1px #000000; 
    box-shadow: 0px 0px 15px -1px #000000;
    background-color: var(--secondary);
    color: var(--text);
}

/* Add a color to the active/current link */
.navbar a.active {
    background-color: var(--primary);
    color: var(--background);
}