@import url(constant.css);

header {
    z-index: 998;
}

body {
    background-color: var(--background);
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.title {
    min-height: 100px;
    border-bottom: 3px solid var(--background2);
}

#site-name {
    font-size: 20px;
    color: var(--text);
    padding-left: 20px;
    width: 100%;
    float: left;
    text-align: left
}

#site-indicator {
    font-size: 40px;
    color: var(--text);
    width: 100%;
    float: left;
    position: absolute;
    text-align: center
}

.shadow {
    -webkit-box-shadow: 0px 0px 15px -1px #000000;
    box-shadow: 0px 0px 15px -1px #000000;
}

/* Add a black background color to the top navigation */
.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    z-index: 999;
    background-color: var(--background);
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;

}

/* Style the links inside the navigation bar */
.navbar a {
    color: var(--text);
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
    border-radius: 15px;
    padding: 1rem 1rem;
    vertical-align: middle;
    width: 14%;
    margin: -25px 0 0 0;
}

/* Change the color of links on hover */
.navbar a:hover {
    -webkit-box-shadow: 0px 0px 15px -1px #000000;
    box-shadow: 0px 0px 15px -1px #000000;
    background-color: var(--secondary);
    color: var(--text);
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

/* Add a color to the active/current link */
.navbar a.active {
    background-color: var(--primary);
    color: var(--background);
}

.sidenav-button {
    color: var(--text);
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    position: absolute;
}

.sidenav-button:hover fade {
    color: var(--accent);
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 250px;
    /* 0 width - change this with JavaScript */
    position: absolute;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 280px;
    left: -250px;
    /* Stay at the top */
    overflow: hidden;
    background-color: var(--background);
    /* Black*/
    padding-right: 0px !important;
    padding-left: 0px !important;
    text-overflow: hidden;
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav-wrapper #slide {
    transition: 0.5;
    right: 0;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: var(--text);
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: var(--accent);
}

main {
    max-width: 60%;
    padding: 0 20% 0 20%;
    margin: 0 auto;
    display: block;
    display: flex;
    /* Change display to flex */
    flex-direction: column;
    /* Stack child elements vertically */
}

.section-header {
    border-bottom: 3px solid var(--background2);
    padding-bottom: 15px;
}

#centered-relative {
    position: relative;
    text-align: center;
}

li:not(:last-child) {
    margin-bottom: 20px;
}

footer {
    height: 100px;
    position: relative;
    bottom: 0;
    padding: 20px;
}

section {
    position: relative;
}

#home-p1 {
    width: 50%;
    float: left;
    text-align: justify;
}

#home-img1 {
    zoom: 55%;
    float: right;
    border-radius: 30px;
    position: relative;
}

#home-img2 {
    zoom: 40%;
    float: left;
    border-radius: 30px;
    position: relative;
}

#home-p2-wrapper {
    padding-left: 15px;
    width: 50%;
    float: right;
}

#profile-p1 {
    width: 100%;
    float: center;
    text-align: justify;
}

.page-header {
    text-align: center;
    font-size: 40px;
}

#strengths-list {
    width: 50%;
    float: left;
    border: 3px dashed var(--background2);
    margin: -3px -3px -3px -1%;
}

#weaknesses-list {
    width: 50%;
    float: right;
    text-align: right;
    margin: -3px -1% -3px -3px;
    border: 3px dashed var(--background2);
}

.ul-right {
    direction: rtl;
}

#video1-wrapper {
    margin: 0 10% 0 10%;
}

#video1 {
    position: relative;
    width: 100%;
    height: 100%;
}